.cart{
    padding-top: 3%;
    display: flex;
    padding-left: 80%;
}

.cart-button{
    background: rgba(255, 255, 255, 0.1);
    border: none;
    width: 75px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.number{
    padding-left: 25%;
    bottom: 5px;
}

.counter{
    display: inline-block;
    position: relative;
    color: white;
    left: 10px;
    bottom: 7px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 100%;
    font-size: 15px;
    
}
