::ng-deep body{
  background-image: url("../../assets/cover.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.title{
  text-align: center;
  color : #632B2D
}

.card{
  margin-left: 15%;
  width: 50vh;
  height: 50vh;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent background */
  backdrop-filter: blur(5px); /* blur the background behind */
  -webkit-backdrop-filter: blur(5px); /* for Safari */
}

.details > div{
  padding-bottom: 10px;
}

.details{
  text-align: center;
  color : white;
  padding-top : 50px;
  font-size: 20px;
  font-family: 'Montserrat', serif;
  font-style: italic;
}

.logo-container {
  margin-bottom: 1px;
  margin-top: -70px;
}

.logo {
  height: 150px;
  margin-bottom: 1px;
}

.app-name {
  margin: 0;
  font-size: 18px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: normal;
  font-size: medium;
  cursor: pointer;
}

.signin{
  background-color: #8DACA0;
}

.signin:hover{
  background-color: #bbe4d4;
}

.login{
  background-color: #9FC5B7;
}

.login:hover{
  background-color: #7e9b90;
}

.input-field {
  padding: 10px;
  display: block;     
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
}


@media (min-width : 1441px) {
  .productDay{
    width: 154px;
    height: 186px;
  }

  .login-button{
    width: 150px;      
  }
}

@media(min-width : 1000px) and (max-width:1440px) {
  .input-field{
    width: 250px;
  }

  .productDay{
    width: 100px;
    height: 90px;
  }

  .login-button{
    width: 125px;
  }
}

.login-button {
  margin-top: 50px;  
  padding: 8px 12px;
  background-color: #062e0685;
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  display: block;     
  margin: 0 auto; 
}

.login-button:hover{
  background-color: #020f0285;
}

.font-section{
  display: block;             
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  color: black;
}
