 

<app-menu/>

<main>
  <app-cart></app-cart>
  <div class="main-body">
    <div class="title" align="center">
      <div><h1>Gondor chic</h1></div>
      <div><h3>Produit du jour</h3></div>
    </div>

    <div class="main-section" *ngIf="productOfTheDay">
      <div class="section-1">
        <h4>Bienvenue Frodon Sacquet</h4>
        <div>
          De terres lointaines et de légendes oubliées, émerge notre Précieux… le Produit du Jour,
          gardé jusqu’à ce moment par les anciens.
        </div>
      </div>

      <div class="section-2">
        <!--div>
          <img [src]="productOfTheDay.image_url" class="product-picture" alt="Produit du jour" />
        </div-->
         <div>
                    <img src="assets/product.png" class="product-picture" alt="">
                </div>

        <div class="details">
          <div><h3>{{ productOfTheDay.name }}</h3></div>
          <div>{{ productOfTheDay.price }} Gondariary</div>
          <div class="quantity">
            <i class="arrow left"></i>
            <span class="number">{{ productOfTheDay.stock_quantity }}</span>
            <i class="arrow right"></i>
          </div>
          <div class="cart-button-element">
            <button class="cart-button">
              <img class="cart-icon" src="assets/cart.png" alt="Ajouter au panier" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>