<main>
  <app-menu />
  <app-cart />
  <div class="main-body">
    <div style="flex: 3;">
      <div class="table1">
        <table *ngIf="cartItems.length > 0">
          <thead>
          <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cartItems; let i = index">
            <td>
              <div class="product-info">
                <img [src]="item.imageUrl || 'assets/product.png'" class="product-picture" alt="Produit" />
                <div class="product-text">
                  <p class="product-name">{{ item.name }}</p>
                  <p class="product-ref">Réf : {{ item.id || 'N/A' }}</p>
                </div>
              </div>
            </td>
            <td>
              <input
                type="number"
                [value]="item.quantity"
                min="1"
                (change)="onQuantityChange($event, i)"/>
            </td>
            <td class="price-cell">
              {{ item.price * item.quantity }} Gondariary
              <img class="trash-icon" src="assets/trash.png" alt="Supprimer" (click)="removeItem(i)" />
            </td>
          </tr>
          </tbody>
        </table>
        <p *ngIf="cartItems.length === 0">Votre panier est vide.</p>
        <button>Continuer mes achats</button>
      </div>
    </div>

    <div class="table2">
      <table>
        <tr><th>Total</th></tr>
        <tr style="height:100px;">
          <td>Sous-Total: {{ subTotal }} Gondariary</td>
        </tr>
        <tr style="height:100px;">
          <td class="total">Total: {{ total | number:'1.2-2' }} Gondariary</td>
        </tr>
      </table>
      <button style="width: 70%; margin-left: 18%;">Confirmer mes achats</button>
    </div>
  </div>
</main>
