<div class="main-container">
  <div class="card-quantity">
    <div class="logo-container" align="center">
        <img src="assets/logo.png" alt="Logo" class="logo">
    </div>

    <div>
      <div><h2 class="title">Gondor Chic</h2></div>
      <div align="center"><img src="assets/picture.jpg" class="center-image" alt="Product of the day"></div>
      <div class="details">
        <div class="description">Elixir de guerison elfique</div>
        <div class="price">3000 Gondariary</div>
      </div>
    </div>

    <div class="input-container" align="center">
        <label class="font-section" align="center"><b>Quantité</b></label>
        <input type="number" min="0" class="input-field">
        <button class="submit-button" >Ajouter</button>
    </div>
  </div>

</div>
