<nav>

</nav>
<main>
    
    
    <div class="card">
        <div class="logo-container" align="center">
            <img src="assets/logo.png" alt="Logo" class="logo">
        </div>
        <div class="card-group">
            <div class="card-element">
                <div>
                    <form action="">
                        <div class="input-group">
                            <div>
                                <div class="input-element">Nom du produit</div>
                                <div><input type="text" name="" id=""></div>
                            </div>
                            <div class="input2">
                                <div class="input-element">Prix</div>
                                <div><input type="number" name="" id=""></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div>
                                <div class="input-element">Reference</div>
                                <div><input type="text" name="" id=""></div>
                            </div>
                            <div class="input2">
                                <div class="input-element">Categorie</div>
                                <div><input type="text" name="" id=""></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div>
                                <div class="input-element">Description</div>
                                <div><textarea name="" id="" cols="75" rows="10"></textarea></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="picture-place">
                    <div class="picture" align="center">
                        <div></div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</main>
