<app-menu/>
<main>
    <app-cart/>
    <div class="main-body">
        <div style="flex: 3;">
            <div class="table1">
                <div class="scrollable-table">
                    <table>
                        <tr>
                            <th>Details</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img src="assets/product.png" class="product-picture" alt="Produit">
                                    <div class="product-text">
                                        <p class="product-name">Élixir de guérison elfique</p>
                                        <p class="product-ref">Réf : ENC-109</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quantity">
                                    <i class="up">▲</i>
                                        <span class="number">3</span>
                                    <i class="down">▼</i>
                                </div>
                            </td>
                            <td class="price-cell">300 Gondariary</td>
                            <td><img src="assets/cart.png" alt="liste-Produit" width="40" height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img src="assets/product.png" class="product-picture" alt="Produit">
                                    <div class="product-text">
                                        <p class="product-name">Élixir de guérison elfique</p>
                                        <p class="product-ref">Réf : ENC-109</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quantity">
                                    <i class="up">▲</i>
                                        <span class="number">3</span>
                                    <i class="down">▼</i>
                                </div>
                            </td>
                            <td class="price-cell">300 Gondariary</td>
                            <td><img src="assets/cart.png" alt="liste-Produit" width="40" height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img src="assets/product.png" class="product-picture" alt="Produit">
                                    <div class="product-text">
                                        <p class="product-name">Élixir de guérison elfique</p>
                                        <p class="product-ref">Réf : ENC-109</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quantity">
                                    <i class="up">▲</i>
                                        <span class="number">3</span>
                                    <i class="down">▼</i>
                                </div>
                            </td>
                            <td class="price-cell">300 Gondariary</td>
                            <td><img src="assets/cart.png" alt="liste-Produit" width="40" height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img src="assets/product.png" class="product-picture" alt="Produit">
                                    <div class="product-text">
                                        <p class="product-name">Élixir de guérison elfique</p>
                                        <p class="product-ref">Réf : ENC-109</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quantity">
                                    <i class="up">▲</i>
                                        <span class="number">3</span>
                                    <i class="down">▼</i>
                                </div>
                            </td>
                            <td class="price-cell">300 Gondariary</td>
                            <td><img src="assets/cart.png" alt="liste-Produit" width="40" height="40"></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img src="assets/product.png" class="product-picture" alt="Produit">
                                    <div class="product-text">
                                        <p class="product-name">Élixir de guérison elfique</p>
                                        <p class="product-ref">Réf : ENC-109</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="quantity">
                                    <i class="up">▲</i>
                                        <span class="number">3</span>
                                    <i class="down">▼</i>
                                </div>
                            </td>
                            <td class="price-cell">300 Gondariary</td>
                            <td><img src="assets/cart.png" alt="liste-Produit" width="40" height="40"></td>
                        </tr>
                    </table>
                </div>    
            </div>
        </div>
    </div>
</main>