<div style="display: flex;
  padding-top: 25vh;">
  <div class="card">
    <div>
      <div><h2 class="title">Gondor Chic</h2></div>
      <div><h2 align="center">Produit du jour</h2></div>
      <div align="center"><img src="assets/picture.jpg" width="154px" height="186px" alt="Product of the day"></div>
      <div class="details">
        <div class="description">Elixir de guerison elfique</div>
        <div class="price">3000 Gondariary</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div>Test</div>
  </div>
</div>
