<div style="display: flex;
  padding-top: 25vh;">
  <div class="card">
    <div>
      <div><h2 class="title">Gondor Chic</h2></div>
      <div><h2 align="center">Produit du jour</h2></div>
      <div align="center"><img src="assets/picture.jpg" class="productDay" alt="Product of the day"></div>
      <div class="details">
        <div class="description">Elixir de guerison elfique</div>
        <div class="price">3000 Gondariary</div>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="logo-container" align="center">
      <img src="assets/logo.png" alt="Logo" class="logo">
      </div>
      <div class="tab-buttons">
        <button class="tab signin">S'inscrire</button>
        <button class="tab login">Se connecter</button>
      </div>
      <label class="font-section" align="center">Email</label>
      <input type="email" class="input-field" >
      <label class="font-section" align="center">Mot de passe</label>
      <input type="password" class="input-field">

      <button class="login-button" >Connexion</button>
  </div>
</div>
